/* #region commons */



/* #endregion commons */

/* #region utilities */

:root
{
    --fra-light: #ffffff;
    --fra-darker: #2c3e50;
    --fra-primary: #1abc9c;
    --fra-dark: #3a546d;
    --fra-write: #333333;
}

.bg_fra_light
{
    background-color: var(--fra-light);
}

.bg_fra_darker
{
    background-color: var(--fra-darker);
}

.bg_fra_primary
{
    background-color: var(--fra-primary);
}

.bg_fra_dark
{
    background-color: var(--fra-dark);
}

.bg_fra_write
{
    background-color: var(--fra-write);
}

.my_container_sm
{
   width: 80%;
    margin: auto;
}

/* #endregion utilities */

/* #region debug */

/* .debug .app_header
{
    background-color: var(--fra-darker);
    height: 70px;
} */

/* .debug .logo
{
    background-color: red;
    border: 1px dashed black;
    height: 70px;
}

.debug .menu
{
    background-color: yellow;
    border: 1px dashed black;
    height: 70px;
} */

/* .debug .jumbo .container
{
    background-color: blue;
    border: 1px dashed yellow;
    height: 300px;
} */

.debug .portfolio [class^=col]
{
    border: 1px dashed black;
    background-color: red;
    height: 200px;
}

.debug .portfolio .card
{
    background-color: yellow;
    height: 190px;
}

.debug .about .about_top,
.debug .about .about_bottom
{
    background-color: yellow;
    height: 200px;
    width: 100%;
    border: 1px dashed red;
}

.debug .contact .my_container_sm
{
    background-color: blue;
}

.debug .contact_info,
.debug .contact_send
{
    background-color: yellow;
    border: 1px dashed red;
}

.debug .contact_info
{
    height: 100px;
}

.debug .contact_send
{
    height: 50px;
}

.debug .footer_top
{
    background-color: var(--fra-dark);
}

.debug .footer_top [class^=col]
{
    background-color: red;
    border: 1px dashed white;
    height: 100px;
}

.debug .footer_bottom
{
    background-color: var(--fra-darker);
    height: 50px;
}
/* #endregion debug */

/* #region jumbotron */



/* #endregion jumbotron */