/* #region commons */



/* #endregion commons */

/* #region utilities */

:root
{
    --fra-light: #ffffff;
    --fra-darker: #2c3e50;
    --fra-primary: #1abc9c;
    --fra-dark: #3a546d;
    --fra-write: #333333;
}

.bg_fra_light
{
    background-color: var(--fra-light);
}

.bg_fra_darker
{
    background-color: var(--fra-darker);
}

.bg_fra_primary
{
    background-color: var(--fra-primary);
}

.bg_fra_dark
{
    background-color: var(--fra-dark);
}

.bg_fra_write
{
    background-color: var(--fra-write);
}

.fs_fra_sm
{
    font-size: 0.5rem;
}

.my_container_sm
{
   width: 70%;
    margin: auto;
}

/* #endregion utilities */

/* #region debug */

.debug .footer_top
{
    background-color: var(--fra-dark);
}

.debug .footer_top [class^=col]
{
    background-color: red;
    border: 1px dashed white;
    height: 100px;
}


/* #endregion debug */